/* GREETINGS */
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.locator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.greetings h4 {
  align-self: center;
}

.greetings p {
  align-self: center;
}

/* LOADER SPINNER */
.ui.segment.spinner {
  padding-top: 70px;
  background-color: #d8456b;
}
