/* GREETINGS */
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

/* LOADER SPINNER */
.ui.segment {
  padding-top: 70px;
  background-color: #d8456b;
}
