/* GREETINGS */
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.greetings h4 {
  align-self: flex-end;
  padding-top: 30px;
}

.greetings p {
  margin-top: -30px;
}

/* LOADER SPINNER */
.ui.segment.spinner {
  padding-top: 70px;
  background-color: #d8456b;
}
