/* Card */
.container {
  display: flex;
  flex-direction: column;
}

.card {
  border: 2px solid #7dbf27;
  border-radius: 20px;
  box-shadow: 10px 5px 5px 1px #ddd;
  width: 35%;
  margin: 30px auto 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.card > hr {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.missing {
  text-align: center;
  margin-bottom: 30px;
}

.container.manara > p {
  width: 400px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.used {
  color: #5d9711;
  font-weight: bold;
}

.need {
  color: #d8456b;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 2.5em 0;
  position: relative;
}
hr:before,
hr:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 0;
}
hr:after {
  top: 0px;
  bottom: auto;
  height: 1.5em;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 0.06) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

/* FOOD MOOD STYLING */
.container.foodmood {
  margin-top: 15%;
  /* background-color: red; */
}

.card.foodmood {
  width: 80%;
  height: 40em;
  margin: auto;
}

.card.foodmood > h4 {
  color: #d8456b;
  text-align: center;
}

.card.foodmood > img {
  width: 50em;
  padding-left: 10%;
}
